.player_highlight {
    background-color: #ceff9c;
    border-bottom: 1px solid #cd9cff;
}

.player_hover {
	background-color: #8aff12;
    border-bottom: 1px solid #8712ff;
}

/** deprecated (part of first attempt at disabling urls)
.container { 
	z-index:1;
	background: transparent; 
	width:350;
	height:400;
}

.lockframe { 
	z-index: 2; 
	width:350;
	height:400;
}
**/